/*fonte bem vindo 2*/
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
/*font principal*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*font bem-vindo*/
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Press+Start+2P&display=swap');


*{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}
:root{
    --braco-acinzentado:#e8f1f2;
    --cinza:#646363;
    --azul-claro:#1b98e0;
    --azul-verdeado:#247ba0;
    --azul-indoproescuro:#006494;
    --azul-escuro:#13293d;
    --font-pricipal:'Poppins', sans-serif;
    --font-bem-vindo:'Poiret One', cursive;
}
@keyframes animação{
    from{  
        background-position: 0% 50%;     
    }
    to{
        background-position: 100% 50%;
    }
}

body{
    animation: animação 10s ease alternate infinite ;
    background: linear-gradient(-45deg,#e8f1f273,#1b98e0,#247ba0,#006494,#13293d );
    background-size: 300% 300%;
    font-family: var(--font-pricipal);
    background-color:var(--azul-verdeado) ;
    overflow-x: hidden;
}
header{
    padding-bottom: 10px;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    font-weight: 300;
    font-size: 1.4em;
}
#timer{
    color: var(--azul-escuro);
    font-size: 1.5em;
}
a{
    color: var(--braco-acinzentado) !important;
    text-decoration: none;
    transition: 0.5s;
}
a:hover{
    transform: scale(1.2);
}

main{
    margin: auto;
    background-color: var(--braco-acinzentado);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.63);
    max-width: 1000px;
    min-height: 900px;
    padding: 25px;
    border-radius: 10px;
}
h1{
    font-family:var(--font-titulos);
}
h2{
    font-weight: 500;
}
p{
    color:var(--cinza);
    text-align: justify
}
footer{
    background-color: var(--azul-escuro);
    color: var(--braco-acinzentado);
    text-align: center;
    font-style: italic;
}
.alinhamento-header{
    padding: 0px 8px;
    color: var(--braco-acinzentado);
    text-decoration: none;
    transition: 0.5s;
}
.alinhamento-header:hover{
    transform: scale(1.2);
}
#alinhamento-header01{
    display: flex;
    
}
input {
    padding: 1px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    border-color: var(--azul-escuro);
    margin-bottom: 20px;
}
.alinhamento-timer{
    display: flex;
    justify-content: space-between;
    
}
.color-menu> #timer{
    color: var(--braco-acinzentado);
}
.space-nav{
    background: #13293d59!important;
}

.main-config{
    margin-top: 60px;
}

/*pagina index*/
@keyframes pgindex{
    from{  
        background-position: 0% 50%;     
    }
    to{
        background-position: 100% 50%;
    }
}
.font-grande-h{
    font-size: 8vw;
}
#body-index{
    animation: pgindex 20s ease alternate infinite ;
    background: linear-gradient(-45deg,#e8f1f273,#1b98e0,#247ba0,#006494,#13293d );
    background-size: 300% 300%;
    font-family: var(--font-pricipal);
    background-color:var(--azul-verdeado) ;
    overflow-x: hidden;
}

#alinhamente-bem-vindo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    
}
#wellcome{
    color: var(--braco-acinzentado);
    font-family:'Lora', serif;
    font-size: 4vmax;
    padding-bottom: 40px;

}
#shadow-h1{
    text-shadow: -4px 4px 10px rgba(150, 150, 150, 0.5);
    background: linear-gradient(45deg,var(--azul-verdeado),var(--azul-claro),#dedefc,#e3e8fc,#fcf7fa,#CCCEFD,#FCE4E3,var(--azul-claro),rgba(0, 0, 255, 0.459));
    background-size: 400% 400%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: bg-animado-letra 10s ease infinite alternate;

}
@keyframes bg-animado-letra {
    from{  
        background-position: 0% 50%;     
    }
    to{
        background-position: 100% 50%;
    }
}

a>#entrar-wellcome{
    color: var(--braco-acinzenta);
    
}

article > #sobre{
    margin: auto;
    margin-top: 20px;
    background-color: var(--braco-acinzentado);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.63);
    max-width: 1000px;
    min-height: 900px;
    padding: 25px;
    border-radius: 10px;
}
@keyframes arrowdown{
    to{transform: translateY(10px);}
}

#arrow-down{
    display: flex;
    justify-content: center;

}
#arrow-down > img{
    animation: arrowdown 1s ease alternate infinite;
    width: 80px;
    height: 70px;
}


#sobre>h1 {
    text-align: center;
    padding-bottom: 40px;
    font-size: 2.5em;
    font-weight: 500;
}
#sobre>h2{
    text-indent: 30px;
    padding-top: 20px;
}
#sobre>p{
    padding-top: 30px;
    padding-bottom: 30px;
    text-indent: 30px;
}

#sobre{
    background-color: var(--braco-acinzentado);
}

 @media (max-width:800px){
    a:hover{
        transform: scale(1.02) !important;
    }
    a{
        color: var(--braco-acinzentado)!important;
    }

    h1{
        font-size: 3em !important;
    }
}
@media (max-width:600px){
    h1{
        font-size: 2em !important;
    }
}


/*Pagina principal*/

#saldo-diario > h2{
    padding-top: 50px;
}
#saldo-diario > p {
    text-indent: 30px;
}
#calendario-mes{
    border-radius: 5px;
    transition: 0.2s;
    height: 30px;
}
#calendario-mes:hover{
    transform: scale(1.05);
}
#proximas-dividas > h2{
    padding-top: 50px;
}

@keyframes icon{
    to{transform: translateX(30px);}
}
#icon-back>img{
    animation: icon 1s ease alternate infinite;
    margin-top: 33vh;
    width: 70px;
    height: 70px;
}

/*pagina dos gastos diarios*/

#ajuste {
    padding: 5px 10px;
}
#ajuste > h1 {
    padding-bottom: 30px;
}
#ajuste > h2 {
    padding-top: 60px;
}
#ajuste > p {
    padding-bottom: 20px;
}
#ajuste > select{
    min-width: 90px;
    text-align: center;
    border-radius: 5px;
    border-color: var(--azul-escuro);

}
#gasto-diario{
    width: 150px;    
}

#valor-gasto{
    width: 60px;
}
#show-calculator >#content{
    display: none;
}
#show-calculator:hover >#content{
    display: flex;
}
#date{
    margin-top: 30px;
}
#send-valor{
    transition: 0.2s;
    background-color: #006594b2;
    color: #e8f1f2;
}
#send-valor:hover{
    background-color: #006494;
}
#send-valor:active{
    transform: scale(0.96);
    box-shadow: 4px 4px 12px 5px #1b98e0cc
}
#show-tabela > p{
    color:  black;
}
#show-tabela{
    min-height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--braco-acinzentado);
}

/*pagina entrar*/

#ajustando-entrar {
    background-color: var(--azul-indoproescuro);
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 30px;
    border-radius: 10px;
    min-height: 200px;
}


/*pagina de login*/
#ajustelogin{
    padding-bottom: 60px;
    font-weight: 400;
    text-align: center;
}

#ajustando-login{
    background-color: var(--azul-indoproescuro);
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 30px;
    border-radius: 10px;
    height: 340px;
}

#ajustando-login > input{
    font-weight: bold;
    width: 300px;
    padding: 1px;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 20px;
}



/*Pagina de contatos*/

#centralizar-sugestao{
    display: flex;
    flex-direction: column;
}
#sugestão{
    min-width: 10px;
}
#enviar-sugestao{
    background-image: linear-gradient( to right, var(--azul-claro),var(--azul-verdeado),var(--azul-indoproescuro) );
    color: var(--braco-acinzentado);
    transform: scale(1);
}
#enviar-sugestao:hover{
    background-image: linear-gradient(var(--azul-indoproescuro), var(--azul-indoproescuro));
    transition: 1s;
}