<header>   
{{!-- navegação hamburquer --}}
<nav class="navbar navbar-expand-md navbar-dark bg-dark space-nav fixed-top">

    <!-- Logo -->
    <a href="index.html" class="navbar-brand">HOME</a>

    <!-- Menu Hamburguer -->
    <button class="navbar-toggler" data-toggle="collapse" 
    data-target="#navegacao">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- navegacao -->
    <div class="collapse navbar-collapse" id="navegacao">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="#sobre" class="nav-link text-light">SOBRE</a>
            </li>
            <li class="nav-item">
                <a href="contato.html" class="nav-link text-light">CONTATO</a>
            </li>
        </ul>
    </div>                   
</nav>             
</header>

  <main class="main-config">
      <section>

      <div class="alinhamento-timer">
        <h1>Conte-me com o que você gastou hoje.</h1><span id="timer">horas</span>
      </div>
      <div id="ajuste">
          
        <p>Coloque 1 gasto por vez.</p>
        <input type="text" name="gasto-diario" id="gasto-diario" placeholder="com:">
        
        <input type="number" name="valor" id="valor-gasto" placeholder="valor:">
        

        <input type="button" value="Enviar" onclick="enviaralertas()" id="send-valor"> 
        <br>
        
        <div id="show-tabela">
          <hr>
          <p name="gastos" id="gastos-tabela" size="10">
            <div>
            <h2>Gastos:</h2>
            <br>
              {{#each gastos}}
                <p>{{this.item}}</p>
              {{/each}}
          </div>
          </p>
          
          <hr>

          <p name="valor" id="preco" size="10">
            <div>
            <h2>Preço:</h2>
            <br>
            {{#each gastos}}
                <p>{{this.valorGasto}}</p>
            {{/each}}
            </div>
          </p> 
          <hr>
          
          <p name="soma total" id="soma-total" size="10">
            <h2>Total:</h2>
            <br>

          </p>
          <hr>

        </div>

      <h2>Selecione a data que deseja saber com o que foi gasto.</h2>
        <input id="date" type="date">
      </div>
      
      </section>

    </main>
<footer> Feito por Guilherme e Gabriel</footer>